<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <img src="{% static "2.png" %}" height="100" width="200" id="image" style="display: none;">
    <link rel="stylesheet" href="{% static "main.css" %}" type="text/css"/>
    <link rel="icon" type="image/png" href="{% static "1.png" %}"/>
    <script type="text/javascript" src="{% static "main.js" %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Quarks', 'Leptons', 'Gauge Bosons', 'Scalar Bosons'],
                [2 / 3, -1, 0, 0],
                [2 / 3, -1, 0, null],
                [2 / 3, -1, 0, null],
                [-1 / 3, 0, 1, null],
                [-1 / 3, 0, -1, null],
                [-1 / 3, 0, null, null],
                [-1 / 3, 0, null, null]
            ]);

            var options = {
                title: 'Charges of subatomic particles',
                legend: { position: 'top', maxLines: 2 },
                colors: ['#5C3292', '#1A8763', '#871B47', '#999999'],
                interpolateNulls: false
              };
            var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Main page</title>
    <style>
        body {
            background-color: #2F4F4F;
            color: #FFFFFF;
        }
    </style>
</head>

<body>
    <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody id="tabBody">
    {% for obj in data %}
        <tr>
        <td>{{ obj.name }}</td>
        <td>{{ obj.username }}</td>
        <td>{{ obj.age }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.password }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
    <div class="container-fluid-inputs">
        <form name="addForm" method="post" action="/dbwrite/" onsubmit="writeDB();">{% csrf_token %}
            <div style="margin-left: 15px;">
            <label for="inpName">Your name: </label><input type="text" id="inpName" name="name" style="margin-left:20px; margin-right:15px;">
            <label for="inpUser">Username: </label><input type="text" id="inpUser" name="username" style="margin-left: 47px">
            <label for="inpAge">Your age: </label><input type="number" id="inpAge" name="age" style="margin-left: 74px">
            </div><br>
            <div style="margin-left: 15px">
            <label for="inpEmail">Your e-mail: </label><input type="text" id="inpEmail" name="email">
            <label for="inpPass">Your password: </label><input type="password" id="inpPass" name="password">
            <label for="passRep">Repeat password: </label><input type="password" id="passRep" name="password_repeat" oninput="checkPass()">
            </div><br>
            Do you want to input some bio?<input type="checkbox" onclick="showBio()" id="check">
            <label for="check">Yes</label>
            <div>
                <textarea name="bio" cols="50" rows="5" id="txt" placeholder="Input your bio" style="display: none"></textarea>
            </div><br>
            <div>
                <input type="submit" value="Write" class="btn btn-success" id="button" disabled>
            </div>
        </form>
        <div style="margin-top: 30px">
            <input type="button" onclick="setLight()" value="Light theme" class="btn btn-default" style="margin-right: 20px">
            <input type="button" onclick="setDark()" value="Dark theme" class="btn btn-primary">
        </div>
        <div style="margin-top: 30px">
            <canvas id="myCanvas" width="200" height="100" style="border:1px solid #FFFFFF;"></canvas>
        </div>
        <div style="margin-top: 30px; margin-bottom: 30px;">
            <input type="button" onclick="drawCircle()" value="Draw circle" class="btn btn-default" style="margin-right: 20px">
            <input type="button" onclick="writeText()" value="Write a text" class="btn btn-default" style="margin-right: 20px">
            <input type="button" onclick="loadImage()" value="Load image" class="btn btn-default" style="margin-right: 20px">
        </div>
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </div>
</body>

</html>
