input {
    width: 175px;
}
#check {
    width: auto;
    margin-left: 10px;
}
img {
    width: 30%;
    height: auto;
}
.container-fluid-inputs {
    height: 40px;
}
form input {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}